body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quare-size-button{
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
}
